.header{
    height:55px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;
    background-color: white;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(228, 228, 228);
    z-index: 100;
}

.left-section{
    display: flex;
    align-items: center;
}

.middle-section{      
    flex: 1;
    margin-left: 70px;
    margin-right: 35px;
    max-width: 500px;
    display: flex;
    align-items: center;
}


.hamburger-menu{
    height: 24px;
    margin: 0 24px;
}

.youtube-logo{
    height: 20px;
}

.search-button{
    height: 39px;
    width: 66px;
    background-color: rgb(240, 240, 240);
    border-width: 1px;
    border-style: solid;
    border-color: rgb(155, 150, 150);
    margin-left: -1px;
    margin-right: 10px;
}

.voice-search-button{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: none;
    background-color: rgb(245, 245, 245) ;
}

.searchbar{
    flex: 1;
    height: 36px;
    padding-left: 12px;
    font-size:16px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(155, 150, 150);
    border-radius: 2px;
    box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.05);
    width: 0;
}

.searchbar::placeholder{
    font-family: Roboto, Arial;
    font-size: 16px;
}

.search{
    height: 25px;
}

.voice-search{
     height: 24px;
     background-color: rgb(245, 245, 245) ;
    
}

.right-section{
    width: 180px;
    margin-right: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-shrink: 0;
}

.upload{
    height: 24px;
}

.youtube-app{
    height: 24px;
}

.noti{
    height: 24px;
}

.current-user{
    height: 32px;
    border-radius: 50%;
}

.noti-icon{
    position: relative;
}

.noti-red{
    background-color: rgb(200, 0, 0);
    color: white;
    font-size: 10px; 
    position: absolute;
    border: 5px;
    border-color: white;
    border-radius: 50%;
    top:0;
    right: 0;
    text-align: center;
    padding: 1px 5px;
    top: -2px;
    right: -4px;
}

.search-button,
.voice-search-button,
.upload-icon-container,
.youtubeapp-icon-container,
.noti-icon-container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.search-button .tooltip,
.voice-search-button .tooltip,
.upload-icon-container .tooltip,
.youtubeapp-icon-container .tooltip,
.noti-icon-container .tooltip{
    position: absolute;
    background-color: gray;
    color: white;
    padding: 4px 8px;
    border-radius: 2px;
    font-size: 12px;
    bottom: -30px;
    opacity: 0;
    transition: opacity 0.15s;
    pointer-events: none;
    white-space: nowrap;
}

.search-button:hover .tooltip,
.voice-search-button:hover .tooltip,
.upload-icon-container:hover .tooltip,
.youtubeapp-icon-container:hover .tooltip,
.noti-icon-container:hover .tooltip{
    opacity: 1;
}



