.sidebar{
    background-color: white;
    position:fixed;
    top: 55px;
    left: 0;
    bottom: 0;
    width: 72px;
    z-index: 200;
    padding-top: 5px;
}

.sidebar-link{
    height: 74px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
}

.sidebar-link:hover{
    background-color: rgb(241, 239, 239);
}

.sidebar-link img{
    height: 24px;
    margin-bottom: 6px;
}

.sidebar .sidebar-link div{
    font-size: 10px;
}