.video-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 16px;
    row-gap: 40px;
}

@media(max-width: 750px) {
    .video-grid{
        grid-template-columns: 1fr 1fr;
    }
}

@media(min-width: 751px) and (max-width: 999px){
    .video-grid{
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media(min-width: 1000px) {
    .video-grid{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}


.thumbnail{
    width: 100%;
    border-radius: 10px;
}

.video-author,
.video-stats{
    display: block;
    color: rgb(124, 117, 117);
    font-size: 12px;
    line-height: 5px;
}

.video-author{
    margin-bottom: 13px;
}


.video-info-grid{
    display: grid;
    grid-template-columns: 50px 1fr;
}

.profile-pic{
    width:80%;
    border-radius: 40px;
}

.video-title{
    margin-top: 0;
    font-size: 14px;
    font-weight: bold;
    line-height: 20px;
    margin-bottom: 10px;
}
    
.thumbnail-row{
    margin-bottom: 8px;
    position: relative;
}

.video-time{
    background-color: black;
    color:white;
    position: absolute;
    bottom: 10px;
    right: 8px;
    font-family: Roboto, Arial;
    font-size: 12px;
    font-weight: 500;
    padding: 4px;
    border-radius: 2px;
}

.video-icon{
    background-color: black;
    border-radius: 2px;
    
}