.button1{
    background-color: rgb(200, 2, 2);
    color: white;
    border: none;
    height: 35px;
    width: 100px;
    border-radius: 2px;
    cursor: pointer;
    margin-right: 8px;
    transition: opacity 0.15s;
}

.button2{
    background-color: white;
    border-color:rgb(8, 8, 198) ;
    border-style: solid;
    border-width:1px;
    color: rgb(8, 8, 198);
    height: 35px;
    width: 70px;
    border-radius: 2px;
    cursor: pointer;
    transition: background-color 0.15s,
    color 0.15s;
}

.button1:hover{
    opacity:0.8;
}

.button1:active{
    opacity:0.4;
}

.button2:hover{
    background-color:  rgb(8, 8, 198) ;
    color: white;
    border: none;
}

.button2:active{
    opacity:0.4;
}


.button3{
    background-color: rgb(0, 130, 223);
    color: white;
    width: 85px;
    height: 35px;
    border-radius: 18px; 
    cursor: pointer;
    border: none;
    font-size: 15px;
    margin-left: 5px;
    box-shadow: 2px 2px 5px grey;
    
}